
<div class="container">
    <div class="row">
        <div class="col-md-12" style="background-color: #979699db ; margin-top: 2%; margin-bottom: 1%; padding: 1%; " >
            <!-- <h4>Temperatures</h4> -->
            <div id="chart1" ></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" style="background-color: #979699db; padding-left: 1%;margin-top: 1%;margin-bottom: 1%;" >
            <!-- <h4>Humidity</h4> -->
            <div id="chart2" ></div>
        </div>
        <div class="table-responsive col-md-4 " style="margin-bottom:1%; padding:1%; " >
            <table id="API_table" class="table table-responsive"  style="background-color: #979699db; padding: 1%;">        
                <tr class="thead-dark">
                    <th >Current Temp</th>
                    <td>    </td>
                </tr>
                <tr class="thead-dark">
                    <th >Current Humidity</th>
                    <td>    </td>
                </tr>
                <tr class="thead-dark">
                    <th >Pressure</th>
                    <td>    </td>
                </tr>    
                <tr class="thead-dark">
                    <th >WindSpeed</th>
                    <td>    </td>
                </tr>
                <tr class="thead-dark">
                    <th >WindDeg</th>
                    <td>    </td>
                </tr>
                <tr class="thead-dark">
                    <th >Weather</th>
                    <td>    </td>
                </tr>    
            </table>
            <button class="btn btn-lg btn-secondary btn-block" onclick="window.location.href = '/export' ">Export</button>
        </div>
    </div>
</div>
