{% extends "Login_template.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='sign.css') }}">
{% endblock styles %}

{% block content %}
    <form class="form-signin" action="" method="post" role="form" novalidate>
            <img class="mb-4" src="{{ url_for('static', filename='login.png') }}" alt="" width="220" height="240">
        <h2 class="h2 mb-3 font-weight-normal">Sign in</h2>
        {{ form.hidden_tag() }}
        <d1>
            <label for="inputUser"" class="sr-only">Username</label>
            {{ form.username(size=32, type="username" , id="inputUser", class="form-control" , placeholder="Username") }}   
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </d1>
            {{ form.password(size=32, type="password" , id="inputPassword", class="form-control" , placeholder="Password") }}
            
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        <button class="btn btn-lg btn-warning btn-block" type="submit">Sign in</button>      
    </form>
{% endblock content%}